<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Catedra</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> -->


    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Catedra.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3" id="check_login_nav">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Product" asp-action="Dashboard">Dashboard</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Product" asp-action="List">Productos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="User" asp-action="List">Usuarios</a>
                        </li>
                    </ul>
                </div>

                <div class="d-flex" role="session">
                    <div class="dropdown">
                        <button class="btn btn-outline-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Nelson Almendares
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Configuración</a></li>
                            <li><a class="dropdown-item" href="#">Perfil</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("Logout", "User")">Cerrar sesión</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>


    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer id="check_login_footer" class="border-top footer text-muted" style="background-color: #e3f2fd;">
        <div class="container">
            &copy; 2024 - Administración - <a asp-area="" asp-controller="Product" asp-action="List">Home</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>

    <!-- <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> -->

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        let nav = document.getElementById('check_login_nav');
        let footer = document.getElementById('check_login_footer');

        // Get the current pathname
        const currentPage = window.location.pathname;

        // Check if the current page is the login page
        if (currentPage === '/') {
            console.log('You are on the login page.');
            // Hide nav and footer on the login page
            if (nav) {
                nav.style.display = 'none';
            }
            if (footer) {
                footer.style.display = 'none';
            }
        } else {
            console.log('You are not on the login page.');
            // Show nav and footer on other pages
            if (nav) {
                nav.style.display = 'block'; // Or '' to reset to default
            }
            if (footer) {
                footer.style.display = 'block'; // Or '' to reset to default
            }
        }
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
